<div class="back">
    <div class="div-center"> 
  
      <div class="content">  
  
        <h3>Login</h3>
        <hr />
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <button type="button" class="btn btn-secondary btn-sm d-block mt-3" style="width: 100%;" (click)="NavigateToHome()">Login</button>
          <hr />
          <button type="button" class="btn btn-link">Signup</button>          
        </form>  
      </div>
    </div>