
<div class="container">

    <div class="row">
        <div class="col-md-6 mt-2">
            <div class="card border-0">
                <div class="card-header bg-transparent border-0 text-dark">
                    Welcome NEET Admission Assistance Toolkit
                </div>
                <div class="card-body text-muted bg-transparent border-0 small ">
                    <div class="line-clamps">
                        <p>This website will assist you with NEET Colleges selections with respect to possibilities on the basis of your rank, your college preferences, your applicaiton status, also added what if for conditional college selections. 
                            </p>
                            <h5>Possibilities</h5>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, 
                                or randomised words which don't look even slightly believable. </p>
                            <h5>Preferences</h5>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,
                                 or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there 
                                 isn't anything embarrassing hidden in the middle of text</p>
                            <h5>Status</h5>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary,</p>
                            <h5>What If</h5>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary,</p>
                        </div>
                        <a href="#">read more...</a>

                </div>
                <div class="card-footer bg-transparent border-0">
                    <button class="btn btn-primary btn-sm" (click)="NavigateToStatus()">
                        Get Started..
                    </button>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <img class="img-fluid" src="../../assets/images/5834.jpg">
        </div>
    </div>

</div>
