<div class="container mt-2">

    <div class="row">
        <div class="col-md-12">
            <div class="card border-0">
                <div class="card-header bg-transparent border-0 text-dark">
                   <button class="btn btn-primary btn-width">Possibilities</button>
                   <button class="btn btn-primary btn-width">Preferences</button>
                   <button class="btn btn-primary btn-width ">Status</button>
                   <button class="btn btn-primary btn-width">What If</button>
                </div>
                <div class="card-body text-muted bg-transparent border-0 small ">
                    <p-table [value]="Colleges"  styleClass="p-datatable-striped" responsiveLayout="scroll"  [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
                        <ng-template pTemplate="caption">
                            Header
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Sr.</th>
                                <th>College Name</th>                                
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-college>
                            <tr>
                                <td>1</td>
                                <td>{{college.name}}</td>                                
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary">
                            Footer
                        </ng-template>
                    </p-table>
                </div>
                <div class="card-footer bg-transparent border-0">                 
                </div>
            </div>
        </div>
    </div>

</div>
